<h1>Listing therapists</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Dirección</th>
    <th>Teléfono</th>
    <th>Email</th>
    <th>Especialidad</th>
    <th>Calificación</th>

<% @therapists.each do |therapist| %>
  <tr>
    <td><%= therapist.name %></td>
    <td><%= therapist.address %></td>
    <td><%= therapist.phone %></td>
    <td><%= therapist.email %></td>
    <td><%= therapist.speciality %></td>
    <td><%= califications_icons(rand(4)+1) %></td>   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Therapist', new_therapist_path %>
