<script type="text/javascript" language="javascript" charset="utf-8">
$(function(){

  var email = $("#add_friend_form #email");

  $("#add_friend_form input[type='submit']").live('click', function(){
    //var spinner = new Spinner(opts).spin($("body")[0]);
    $.ajax({
      type: 'POST',
      url: '/network/add_friend.json',
      data: {
        utf8: '✓',
        authenticity_token: $("input[name=authenticity_token]").val(),
        'user' : {
          'email': email.val()
        },
        'network_id': <%= @network.id %>
      },
      error: function(data){
      },
      success: function(data){
        email.val("");
        $("ul.friends").append("<li>"+ data.email +"</li>");
      },
      complete: function(){
      //  spinner.stop();
      }
    });
    return false;
  });
});
</script>

<div class="row-fluid">
<div class="span6">
<%= form_for :network, :html => { :class => 'form-inline' } do |f| %>

  <legend>Ingresa el email del amigo</legend>
  <fieldset>
    <div id="add_friend_form">
    <%= text_field_tag :email, '', :class => 'input-block-level',:placeholder =>  'Email' %>
    <%= submit_tag "Agregar", :class => 'btn btn-primary btn-large' %>
    <%= link_to "Continuar", tasks_cause_path(current_user.cause), :class => 'btn btn-secondary btn-large' %>
    </div>
  </fieldset>
</div>

<div class="span6">
  <legend>Amigos Registrados</legend>
  <ul class="friends">
    <% for friend in @network.users %>
    <li><%= friend.email %></li>
    <% end %>
  </ul>
</div>  
</div>  

<% end %>
