<script type="text/javascript" language="javascript" charset="utf-8">
$(function(){

  var email = $("#add_friend_form #email");

  $("#add_friend_form input[type='submit']").live('click', function(){
    var spinner = new Spinner(opts).spin($("body")[0]);
    email.closest(".control-group").removeClass("error");
    $.ajax({
      type: 'POST',
      url: '/network/add_friend.json',
      data: {
        utf8: '✓',
        authenticity_token: $("input[name=authenticity_token]").val(),
        'user' : {
          'email': email.val()
        },
        'network_id': '<%= @network.id %>'
      },
      error: function(data){
        email.closest(".control-group").addClass("error");
      },
      success: function(data){
        email.val("");
        $("ul.friends").append("<li>"+ data.email +"</li>");
      },
      complete: function(){
        spinner.stop();
      }
    });
    return false;
  });
});
</script>

<%= form_for :network, :html => { :class => 'form-horizontal' } do |f| %>

<ul class="friends">
  <% for friend in @network.users %>
  <li><%= friend.email %></li>
  <% end %>
</ul>

<div id="add_friend_form">
  <div class="control-group" style="float:left">
    <%= label_tag :email, 'Email', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :email, '', :class => 'text_field' %>
    </div>
  </div>
  <div>
    <%= submit_tag "Agregar", :class => 'btn btn-info' %>
  </div>
</div>

<div class="form-actions">
  <%= button_to "Continuar", tasks_cause_path
  <%= f.submit "Continuar", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
  networks_path, :class => 'btn' %>
</div>
<% end %>
