<script type="text/javascript" language="javascript" charset="utf-8">
$(function(){

  var email = $("#add_friend_form #email");

  $("#add_friend_form input[type='submit']").live('click', function(){
    var spinner = new Spinner(opts).spin($("body")[0]);
    email.closest(".control-group").removeClass("error");
    $.ajax({
      type: 'POST',
      url: '/network/add_friend.json',
      data: {
        utf8: '✓',
        authenticity_token: $("input[name=authenticity_token]").val(),
        'user' : {
          'email': email.val()
        },
        'network_id': '<%= @network.id %>'
      },
      error: function(data){
        email.closest(".control-group").addClass("error");
      },
      success: function(data){
        email.val("");
        $("ul.friends").append("<li>"+ data.email +"</li>");
      },
      complete: function(){
        spinner.stop();
      }
    });
    return false;
  });
});
</script>

<%= form_for :network, :html => { :class => 'form-inline span3' } do |f| %>

<ul class="friends">
  <% for friend in @network.users %>
  <li><%= friend.email %></li>
  <% end %>
</ul>
<!-- 
<div id="add_friend_form">
  <div class="control-group">
    <%= label_tag :email, 'Email', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :email, '', :class => 'input-block-level' %>
    </div>
  </div>
  <div>
    <%= submit_tag "Agregar", :class => 'btn btn-info btn-large' %>
  </div>
</div>

<div class="form-actions">
<<<<<<< HEAD
  <%= button_to "Continuar", tasks_cause_path, :class =>"btn btn-large btn-primary" %> 
</div> -->

  <legend>Ingresa el mail de tu amigo</legend>
  <fieldset>
    <div id="add_friend_form">

    <%= text_field_tag :email, '', :class => 'input-block-level',:placeholder =>  'Email' %>
    <%= submit_tag "Agregar", :class => 'btn btn-primary btn-large' %>
  </fieldset>
    </div>
  <%= button_to "Continuar", tasks_cause_path(current_user.cause.id) %>

<% end %>
