<h1>Listing cases</h1>

<table>
  <tr>
    <th>User</th>
    <th>Owner</th>
    <th>Network</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cases.each do |case| %>
  <tr>
    <td><%= case.user_id %></td>
    <td><%= case.owner_id %></td>
    <td><%= case.network_id %></td>
    <td><%= link_to 'Show', case %></td>
    <td><%= link_to 'Edit', edit_case_path(case) %></td>
    <td><%= link_to 'Destroy', case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Case', new_case_path %>
