<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @case.user_id %>
</p>

<p>
  <b>Owner:</b>
  <%= @case.owner_id %>
</p>

<p>
  <b>Network:</b>
  <%= @case.network_id %>
</p>


<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
