<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href=<%= root_path %>>MejorAmigo</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
         <a href=<%= login_page_path %> class="navbar-link">Ingresar</a>
        </p>
        <ul class="nav">
          <li class="active"><a href=<%= root_path %>>Inicio</a></li>
          <li><a href="#about">Quiénes Somos</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
	<div class="jumbotron">
	  <h1 class="marca">MejorAmigo</h1>
	  <h1 class="bajada">Amigos ayudando a un amigo a mejorarse</h1>
	  <p class="lead">Crea una red para ayudar a otros que tengan problemas de depresión</p>
	</div>
</div>
<%= form_tag(register_path, :method => 'post', :class => 'form-signin form-inline well_registro') do %>
	<legend>Registro</legend>
  <%= text_field_tag 'name','',:class => 'input-block-level', :placeholder => 'Nombre', :type => 'text' %>
  <%= text_field_tag 'email','',:class => 'input-block-level', :placeholder => 'Email', :type => 'email' %>
  <%= text_field_tag 'password','',:class => 'input-block-level', :placeholder => 'Crea una clave', :type => 'password' %>
  <%= text_field_tag 'confirm_password','',:class => 'input-block-level', :placeholder => 'Repite la clave', :type => 'password' %>
  <%= submit_tag 'Regístrate', :class => 'btn btn-large btn-primary' %>
<% end -%>
