<div class="container">
	<div class="jumbotron">
	  <h1 class="marca">MejorAmigo</h1>
	  <h1 class="bajada">Crea una red de apoyo para amigos con depresión</h1>
	</div>
</div>
<%= form_tag(register_path, :method => 'post', :class => 'form-signin form-inline well_registro') do %>
	<legend>Registro</legend>
  <%= text_field_tag 'name','',:class => 'input-block-level', :placeholder => 'Nombre', :type => 'text' %>
  <%= text_field_tag 'email','',:class => 'input-block-level', :placeholder => 'Email', :type => 'email' %>
  <%= text_field_tag 'password','',:class => 'input-block-level', :placeholder => 'Crea una clave', :type => 'password' %>
  <%= text_field_tag 'confirm_password','',:class => 'input-block-level', :placeholder => 'Repite la clave', :type => 'password' %>
  <%= submit_tag 'Registrarme', :class => 'btn btn-large btn-primary' %>
<% end -%>
