
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">MejorAmigo</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
         <a href="#" class="navbar-link">Ingresar</a>
        </p>
        <ul class="nav">
          <li class="active"><a href="#">Inicio</a></li>
          <li><a href="#about">Quienes Somos</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
	<div class="jumbotron">
	  <h1>MejorAmigo</h1>
	  <h1 class="bajada">Amigos ayudando a un amigo a mejorarse</h1>
	  <p class="lead">Esta es una aplicación que te permite juntarte con tus amigos para salvar a un amigo que está con problemas de depresión. Puedes crear actividades, definir metas, ayudar en tareas domésticas, gestionar contactos de familiares y especialistas, entre otras cosas.</p>
	</div>
</div>
<%= form_tag(register_path, :method => 'post', :class => 'form-signin form-inline well_registro') do %>
  <%= text_field_tag 'name','',:class => 'input-block-level', :placeholder => 'Nombre', :type => 'text' %>
  <%= text_field_tag 'email','',:class => 'input-block-level', :placeholder => 'Email', :type => 'email' %>
  <%= text_field_tag 'password','',:class => 'input-block-level', :placeholder => 'Clave', :type => 'password' %>
  <%= text_field_tag 'confirm_password','',:class => 'input-block-level', :placeholder => 'Repite tu clave', :type => 'password' %>
  <%= submit_tag 'Regístrate', :class => 'btn btn-large btn-success' %>
<% end -%>

