<%= form_tag :cause, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :owner_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :owner_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :network_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :network_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-large' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                causes_path, :class => 'btn btn-large' %>
  </div>
<% end %>
