<h1>Listing causes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Owner</th>
    <th>Network</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @causes.each do |cause| %>
  <tr>
    <td><%= cause.user_id %></td>
    <td><%= cause.owner_id %></td>
    <td><%= cause.network_id %></td>
    <td><%= link_to 'Show', cause %></td>
    <td><%= link_to 'Edit', edit_cause_path(cause) %></td>
    <td><%= link_to 'Destroy', cause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cause', new_cause_path %>
