<div class="alert alert-block">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h4 class="alert-heading">TIP: En algunos casos, un especialista es imprescindible.</h4>
  Es muy importante que ayudes a tu amigo de todas las formas posibles. En casos graves, te sugerimos que 
  <a href="<%= therapists_path %>">busques un centro o terapeuta</a>, te informes y lo acompañes.
</div>

<legend>Pequeñas tareas por grandes causas</legend>
<p>
Lo dicen los especialistas. Cuando una persona está deprimida, no quiere consejos ni sermones. Esa persona necesita que la ayuden en cosas útiles y prácticas para mejorarse. 
</p>
<p>
Abajo puedes ver tres pestañas con algunas de esas cosas para que las apliques con tus amigos.
</p>
<ul id="myTab circulos" class="nav nav-tabs">
  <li class="active color_uno"><a href="#uno" data-toggle="tab">Ayudándolo (tú por él)</a></li>
  <li class="color_dos"><a href="#dos" data-toggle="tab">Ayudándose (él por sí mismo)</a></li>
  <li class="color_tres"><a href="#tres" data-toggle="tab">Ayudándonos (ustedes juntos)</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="uno">
    <p>
Labores cotidianas que tú realizas por él, como por ejemplo: ordenar y limpiar su casa, comprar en el supermercado, pagar las cuentas, hacer trámites, comprarle los remedios, o, en caso de que estudie, tomarle apuntes en clases, inscribirle sus ramos o armarle un grupo de trabajo.
</p>
  </div>
  <div class="tab-pane fade" id="dos">
    <p>
Pequeñas metas que él logra por sí mismo, como por ejemplo: hacer un curso corto para obtener un diploma, crear algo para venderlo, ayudar a otros, involucrarlo en proyectos, organizar cosas.
</p>
  </div>
  <div class="tab-pane fade" id="tres">
    <p> 
Actividades recreativas que hacen ustedes juntos: ir a un partido de fútbol, a un espectáculo musical o a correr al parque.
</p>
  </div>
</div>
<br><br>
<%= form_for :task, :html => { :id => "add_task_form", :class => 'form-horizontal span6 form_tareas', :style => "display:none"} do |f| %>
<%= f.hidden_field :user_id,:value => current_user.id, :class => 'number_field' %>
<div class="control-group">
  <%= f.label :description, "Descripción de la Tarea", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :description, :class => 'input-block-level', :id => 'task_description' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :start_date, "Fecha de Inicio", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :start_date, :class => 'input-block-level datetime_select', :id => 'task_start_date' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :final_date, "Fecha de Término", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :final_date, :class => 'input-block-level datetime_select', :id => 'task_final_date' %>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.hidden_field :cause_id,:value => session[:cause_id], :class => 'number_field', :id => 'task_cause_id' %>
    <%= f.hidden_field :user_id,:value => current_user.id, :class => 'number_field', :id => 'task_user_id' %>
  </div>
</div>

<div class="form-actions">
  <%= f.submit "Guardar Tarea", :class => 'btn btn-primary btn-large' %>
  <%= link_to "Cancelar",
  tasks_path, :class => 'btn btn-large', :id => 'close_form_add_task'  %>
</div>
<% end %>
<%= link_to "Ingresar Nueva Tarea",
new_task_path,
:id => 'add_task_button', :class => 'btn btn-primary btn-large' %>
<br><br>
<div id="task-list">
  <%= render :partial => "task_list" %>
</div>

<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
$(function(){
  $("#add_task_button").click(function(e){
    e.preventDefault();
    $("#add_task_form").slideToggle();
    $(this).slideToggle();
  });
  $("#close_form_add_task").click(function(e){
    e.preventDefault();
    $("#add_task_form").slideToggle();
    $("#add_task_button").slideToggle();
  });
  $("#add_task_form input[type='submit']").live('click', function(e){
    e.preventDefault();
    //var spinner = new Spinner(opts).spin($("body")[0]);
    $.ajax({
      type: 'POST',
      url: '/tasks.json',
      data: {
        utf8: '✓',
        authenticity_token: $("input[name=authenticity_token]").val(),
        'task' : {
          'title': $("#task_title").val(),
          'description': $("#task_description").val(),
          'start_date': $("#task_start_date").val(),
          'final_date': $("#task_final_date").val(),
          'user_id': $("#task_user_id").val(),
          'cause_id': $("#task_cause_id").val(),
        },
      },
      error: function(data){
        alert("Error");
      },
      success: function(data){
        $("#add_task_form").slideToggle();
        $("#add_task_button").slideToggle();
        $.ajax({
          type: 'GET',
          url: '/causes/'+$("#task_cause_id").val()+'/tasks_list',
          error: function(){

          },
          success: function(data) {
            $('#task-list').html(data);
          }
        });

      },
      complete: function(){
        //spinner.stop();
      }
    });
    return false;
  });
  $('#task_start_date').datepicker({dateFormat: 'dd/mm/yy'});
  $('#task_final_date').datepicker({dateFormat: 'dd/mm/yy'});

});


</script>
