<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= form_for :task, :html => { :id => "add_task_form", :class => 'form-horizontal', :style => "display:none"} do |f| %>
<%= f.hidden_field :user_id,:value => current_user.id, :class => 'number_field' %>
<div class="control-group">
  <%= f.label :title, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :title, :class => 'text_field', :id => 'task_title' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :description, :class => 'text_field', :id => 'task_description' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :start_date, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :start_date, :class => 'datetime_select', :id => 'task_start_date' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :final_date, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :final_date, :class => 'datetime_select', :id => 'task_final_date' %>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.hidden_field :cause_id,:value => current_user.cause.id, :class => 'number_field', :id => 'task_cause_id' %>
    <%= f.hidden_field :user_id,:value => current_user.id, :class => 'number_field', :id => 'task_user_id' %>
  </div>
</div>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
  tasks_path, :class => 'btn', :id => 'close_form_add_task'  %>
</div>
<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
new_task_path,
:id => 'add_task_button', :class => 'btn btn-primary' %>

<div id="task-list">
  <%= render :partial => "task_list" %>
</div>

<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
$(function(){
  $("#add_task_button").click(function(e){
    e.preventDefault();
    $("#add_task_form").slideToggle();
    $(this).slideToggle();
  });
  $("#close_form_add_task").click(function(e){
    e.preventDefault();
    $("#add_task_form").slideToggle();
    $("#add_task_button").slideToggle();
  });
  $("#add_task_form input[type='submit']").live('click', function(e){
    e.preventDefault();
    var spinner = new Spinner(opts).spin($("body")[0]);
    $.ajax({
      type: 'POST',
      url: '/tasks.json',
      data: {
        utf8: '✓',
        authenticity_token: $("input[name=authenticity_token]").val(),
        'task' : {
          'title': $("#task_title").val(),
          'description': $("#task_description").val(),
          'start_date': $("#task_start_date").val(),
          'final_date': $("#task_final_date").val(),
          'user_id': $("#task_user_id").val(),
          'cause_id': $("#task_cause_id").val(),
        },
      },
      error: function(data){
        alert("Error");
      },
      success: function(data){
        $("#add_task_form").slideToggle();
        $("#add_task_button").slideToggle();
        $.ajax({
          type: 'GET',
          url: '/causes/'+$("#task_cause_id").val()+'/tasks_list',
          error: function(){
            
          },
          success: function(data) {
            $('#task-list').html(data);
          }
        });
          
      },
      complete: function(){
        spinner.stop();
      }
    });
    return false;
  });
  $('#task_start_date').datepicker({dateFormat: 'dd/mm/yy'});
  $('#task_final_date').datepicker({dateFormat: 'dd/mm/yy'});
  
});


</script>            
