<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href=<%= root_path %>>MejorAmigo</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
         <a href=<%= login_page_path %> class="navbar-link">Ingresar</a>
        </p>
        <ul class="nav">
          <li class="active"><a href=<%= root_path %>>Inicio</a></li>
          <li><a href="#about">Quienes Somos</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<br/>
<br/>

<%= form_tag(login_path, :method => 'post', :class => 'form-signin form-inline well_registro') do %>
	<legend>Inicia Sesión</legend>
  <%= text_field_tag 'email','',:class => 'input-block-level', :placeholder => 'Email', :type => 'text' %>
  <%= password_field_tag 'password','',:class => 'input-block-level', :placeholder => 'Password', :type => 'password' %>
  <%= submit_tag 'Ingresar', :class => 'btn btn-large btn-primary' %>
<% end -%>
